*{
margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Inter', sans-serif;
}


.nav {
  padding: 1.3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
    background-color: #fbf8f3;
}
.nav > div {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 35%;
  padding-left: 8rem;
  font-weight: 600;
    font-size: .95rem;
}

.nav li{
  align-items: center;

}
.bars{
  display: none;
  cursor: pointer;
}
h3 {
  margin-top: 2rem;
  font-size: 4rem;
  color: blue;
}
.btn-container{
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.btn{
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  
}
.in{
background-color: transparent;
font-weight: bold;
cursor: pointer;
}
.up{
background-color: #4d13d1;
color: #fff;
font-weight: bold;
}
.portfolio-rating{
  display: flex;
}
.portfolio-rating ul{
  list-style: none;
}
.portfolio-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #fbf8f3;
}
.portfolio-container ul{
  display: flex;
}
.portfolio-text{
padding: 7rem 0rem;
}
.portfolio-text h1{
  font-size: 3.3rem;
  font-weight: bolder;
}
.portfolio-text p {
  font-size: 1rem;
}
.portfolio-rating{
  font-size: .8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.portfolio-rating ul{
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}
.portfolio-rating ul li{
  padding-left: .3rem;
}
.portfolio-buttons{
  margin: 1rem 0;
}
.btn-2{
  border: none;
    padding: 1rem;
    font-size: .9rem;
    margin-left: 1rem;
    color: #4d13d1;
    font-weight: 700;
    text-decoration: underline;
    background-color: #fbf8f3;
    cursor: pointer;
}
.portfolio-image{
  width: 73%;
  justify-content: center;
}
.portfolio-img{
  width: 100%;
}
.portfolio-icons{
  display: flex;
  align-items: center;
}
.portfolio-icons p{
  color: gray;
  font-size: .89rem;
  letter-spacing: .05rem;
        display: flex;
        align-items: center;
}
.portfolio-icons-p-1{
      padding-right: 1.2rem;
      display: flex;
      align-items: center;
}
.portfolio-icons-p-1 svg{
    width: 80%;
    display: flex;
}
.portfolio-icons-p-2 svg{
  width:80%;
  display: flex;
}

/* DIVERSIFY SECTION  */
.diversify-container{
  padding: 4rem 6rem;
}
.diversify-container h2{
  font-size: 2rem;
  width: 60%;
  padding: .7rem 0;
}
.diversify-container h6{
  color: #4d13d1;
  font-weight: 800;
  letter-spacing: 0.01rem;
}
.diversify-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.build{
  width: 30%;
  padding: 0.8rem 0 2rem;
}
.build h6{
color: #000;
font-size: .8rem;
padding: 1rem 0;
}
.build p{
color: gray;
font-size: .9rem;
width: 90%;
}
.diversify-pan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4d13d1;
  width: 100%;
  padding: 3rem 3rem 0rem;
  color: #fff;
}
.diversify-pan-text{
  height: 100%;
  width: 50%;
  padding: 2rem;
}
.diversify-pan-text h2{
  font-size: 2.2rem;
  width: 100%;
  margin: 0 0 .4rem;
}
.diversify-pan-text p{
margin: 0 0 1rem;
width: 85%;
letter-spacing: 0.015rem;
font-weight: 300;
}
.diversify-btn{
     color: #4d13d1;
      background-color: #fff;
      font-weight: bold;
      border: 3px solid #fff;
}
.diversify-btn:hover, .diversify-btn:active{
   border: 3px solid #fff;
   background-color: #4d13d1;
   color:#fff;
   transition: .3s ease;
 
}
.diversify-pan-image{
  background-color: blueviolet;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.diversify-pan-image img{
  width: 100%;
}

/* STYLES FOR FOOTER SECTION  */
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  padding-right: 6rem;
  width: 100%;
  background-color: #fbf8f3;
}
.footer-block{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 9rem;
padding: 1rem 0;
color: gray;
}
.footer-block li{
  padding: .2rem 0;
}
.block-1{
  width: 30%;
}
.footer-heading{
  font-weight: bolder;
  margin-bottom: .4rem;
  color: #000;
}







/* REACT SLICK  */
  .slick-slider {
    display: block;
    position: relative;
      padding: 1rem 0rem 0 5rem;
    justify-content: space-between;
    width: 100%;
    
    
  }
  /* Responsible for space in between slides */
    .slick-slide{
      padding-right: 1rem;
    } 
  .slick-dots {
    position: absolute;
    top: 105%;
    left:0;
    max-width: 100%;
    height: 35px;
  }
.sliderClass{
  margin-right: 12rem;
  display: flex;
  justify-content: space-between;
  /* width: 150%; */
  padding-right: 2rem;
}
  
  
  
  
  
  
  
  .testimonial-container {
    border: 1.3px solid lightgray;
    /* background-color: red; */
  border-radius: .5rem;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0 auto;
  /* display: flex; */
  

}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;

}

.hero-image img {
  width: 100%;
  padding-right: 1rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero-text h2 {
  font-size: 1rem;
  color: #4d13d1;
  padding: 0 0 .2rem;
}

.hero-text h3 {
  font-size: .8rem;
  color: #000;
  margin: 0;
}

.testimonial-p {
  margin: 1rem 0;
  width: 93%;
  line-height: 1.8rem;
  font-size: 1.3rem;
}

.test-btn {
  width: 100%;
  margin: 1rem 0;
  font-weight: 800;
  background-color: transparent;
  color: #4d13d1;
  border: 1.3px solid lightgray;
}

/* STYLES FOR SIGN-UP PAGE  */
.form-container {
  padding: 5rem 5rem 5rem 3rem;
  display: flex;
}

.form-section {
  display: flex;
  flex-direction: column;
padding: 0 2rem;
}

.form-section h3 {
  color: #000;
  font-size: 1.4rem;
}

.form-section h2 {
  padding: 2.1rem 0 1.2rem;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: 600;
  margin-bottom: 0 0 .5rem;
}

form input {
  padding: .9rem 0;
    border: 1.1px solid lightgrey;
  border-radius: .3rem;
  margin: .2rem 0 .9rem;
}

form ::placeholder {
  padding: 1rem;
}

.terms {
  display: flex;
}
.terms span{
  font-weight: 800;
  color: #4d13d1;
  text-decoration: underline;
}
.terms p {
  padding-left: .6rem;
  font-size: .8rem;
}

#terms input {
  justify-content: space-between;
  font-size: 10rem;
}
.fiber-btn{
  margin: 1rem 0;
}
.sign-in{
  margin: 0 auto;
}
.sign-in span{
  color: #4d13d1;
}
.image-section{
  background-color: #4d13d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* padding: 1rem 0; */
}
.image-section h2{
  margin: .8rem 0;
  font-size: 1.8rem;
  /* font-weight: 600; */
  color: #ffffff;
}
.image-section p{
margin: 0 auto;
width: 70%;
text-align: center;
  color: #d6d6d6;
}
.image-section img {
  width: 70%;

}
.scroll{
  display: flex;
  justify-content: space-between;
  width: 11%;
  padding: 1rem 0;
}
.scroll span:first-of-type{
  background-color: #fff;
}
.scroll span{
  width: .68rem;
  height: .68rem;
  border-radius: 50%;
  background-color: #a7a6a6;
}

@media screen and (max-width: 700px){
  .bars{
    display: block;
  }
  
  .nav {
    z-index: 20;
    padding: 1.3rem 2rem;
  }
 .nav ul {
   width: 100%;
   height: 25vh;
   padding: 0;
   position: absolute;
   top: 9%;
   left: 0;
   display: none;
   text-align: center;
   transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
  }
 .nav ul li{
  padding: 1rem 2rem;
  width: 100%;
 }
 .nav ul li:hover {
background-color: #4d13d1;
  transition: .2s ease-in
 }

 .nav-menu.active {
width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   z-index: 10;
   background-color: #fbf8f3;
 }
 .btn-container {
   /* width: 15%; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   display: none;
 }
 .btn-container.active{
  display: none;
 }
  .portfolio-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 2rem;
      position: relative;
    }
    .portfolio-rating{
      display: none;
    }
    .portfolio-text{
      padding-top: 17rem;
    }
    .portfolio-text h1{
      font-size: 2.2rem;
      margin-bottom: .5rem;
      width: 70%;
    }
    .portfolio-image{
      position: absolute;
      top: -3%;
      left: 15%;
    }
    .portfolio-buttons{
      display: flex;
      flex-direction: column;
    }
    .btn.up{
      width: 100%;
    }
    .btn-2{
      background-color: transparent;
    }
    .portfolio-icons{
      flex-direction: column;
      align-items: flex-start;
    }
    .portfolio-icons-p-1{
      margin: .5rem 0;
    }
    
    .diversify-container{
      padding: 3rem 2rem;
    }
    .diversify-pan{
      flex-direction: column;
      padding: 0rem;
    }
    .diversify-pan-text{
      padding: 0;
      width: 100%;
    }
    .diversify-section{
      flex-direction: column;
    }
    .diversify-container h6{
      font-size: 1.05rem;
    }
    .diversify-container h2{
      font-size: 2.3rem;
      width: 90%;
    }
    .build{
      width: 100%;
    }
    .build p{
      width: 100%;
    }
    .diversify-pan {
      background-color: #4d13d1;
      width: 100%;
      padding: 3rem 2.5rem 0rem;
      color: #fff;
      border-radius: .7rem;
    }
    .diversify-pan-text h2{
      font-size: 2.5rem;
    }
    .diversify-pan-text p {
      margin-bottom: 2rem;
    }
      .diversify-btn {
     width: 100%;
     font-size: 1rem;
     font-weight: 700;
        margin-bottom: 3rem;
      }
    .diversify-pan-image{
      width: 100%;
    }

  .testimonial-container{
    border: 1.3px solid lightgray;
    border-radius: .5rem;
    padding: 1rem 2rem;
    width: 87%;
    margin: 0 auto;
    /* margin-right: 7rem; */
    
  }
  .hero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }
  .hero-image img{
  width: 100%;
  padding-right: 1rem;
  }
  .hero-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .hero-text h2{
  font-size: 1rem;
  color:#4d13d1;
  padding: 0 0 .2rem;
  }
  .hero-text h3 {
    font-size: .8rem;
  color: #000;
    margin: 0;
  }
  .testimonial-p{
  margin: 1rem 0;
  width: 93%;
  line-height: 1.8rem;
  font-size: 1.3rem;
  }
  .test-btn{
    width: 100%;
    margin: 1rem 0;
    font-weight: 800;
    background-color: transparent;
    color: #4d13d1;
    border: 1.3px solid lightgray;
  }

    .footer-container{
      flex-direction: column;
      width: 100%;
      padding: 1rem 2rem;
    }
    .footer-block{
      width: 100%;

    }

    /* STYLES FOR SIGN-UP PAGE  */

    .form-container {
      padding: 2rem;
    }
    .form-section{
      display: flex;
      flex-direction: column;
    }
    .form-section h3{
      color: #000;
      font-size: 1.4rem;
    }
    .form-section h2{
      padding: 2.1rem 0 1.2rem;
      font-size: 2.5rem;
    }
    form{
      display: flex;
      flex-direction: column;
    }
    form label{
      font-weight: 600;
      margin-bottom: 0 0 .5rem;
    }
    form input{
      padding: .9rem 0;
      border: 1.1px solid lightgrey;
      border-radius: .3rem;
      margin: .2rem 0 .9rem;
    }
    form ::placeholder{
      padding: 1rem;
    }
    .terms{
      display: flex;
    }

    .terms p{
      padding-left: .6rem;
      font-size: .9rem;
      width: 89%;
    }
   #terms input{
      justify-content: space-between;
      font-size: 10rem;
    }
    .image-section{
      display: none;
    }

        .slick-dots>li>button::before {
          color: gray ;
          font-size: .7rem !important;
        }
    
        .slick-slider {
          position: relative;
          width: 100%;
          height: auto;
          padding: 1rem 2rem;
          
    
        }
        .slick-slide {
          padding-right: 0;
        }
        .slick-dots {
          color: #4d13d1;
          position: absolute;
          top: 92.5%;
          max-width: 100%;
          height: 35px;
        }
}
