body{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color:88aed0;
}
/* @media (min-width: 768px) {
.product-desktop:hover .product-dropdown {
        display: block;

    }
} */
      